/*-- scss:defaults --*/
@import url('https://shinydevseries-assets.us-east-1.linodeobjects.com/TTSupermolotNeue.css');
$font-family: 'TTSupermolotNeue-Bold', sans-serif !default;
$font-family-sans-serif: 'TTSupermolotNeue-Bold', sans-serif !default;
$presentation-heading-font: 'TTSupermolotNeue-Bold', sans-serif !default;
$presentation-heading-color: '#ff8a00';