/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Encode+Sans+SC:wght@100&family=Press+Start+2P&display=swap');
$font-family: 'Alegreya Sans', sans-serif !default;
$font-family-sans-serif: 'Encode Sans SC', sans-serif !default;
$presentation-heading-font: 'Encode Sans SC', sans-serif !default;
