.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

div.transbox {
  margin: 15px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

div.transbox h1 {
  color: #ff8a00;
}

div.transbox h2 {
  color: #ff8a00;
}

div.transbox h3 {
  color: #ff8a00;
}

div.transbox h4 {
  color: #ff8a00;
}

.large2 {
  font-size: 1.2em;
}

.twitter-logo {
  position: absolute;
  bottom: 40%;
  left: 8%;
}
.twitter-text {
  position: absolute;
  bottom: 35%;
  left: 5%;
}
.github-logo {
  position: absolute;
  bottom: 40%;
  left: 27%;
}
.github-text {
  position: absolute;
  bottom: 35%;
  left: 25%;
}
.podcast-logo {
  position: absolute;
  bottom: 40%;
  left: 52%;
}
.podcast-text {
  position: absolute;
  bottom: 35%;
  left: 45%;
}
.sds-logo {
  position: absolute;
  bottom: 40%;
  left: 80%;
}
.sds-text {
  position: absolute;
  bottom: 35%;
  left: 70%;
}
.twitch-logo {
  position: absolute;
  bottom: 10%;
  left: 27%;
}
.twitch-text {
  position: absolute;
  bottom: 5%;
  left: 18%;
}
.rweekly-logo {
  position: absolute;
  bottom: 10%;
  left: 58%;
}
.rweekly-text {
  position: absolute;
  bottom: 5%;
  left: 55%;
}